$black: #131212;
$white: #ffffff;
$gray_bg_input: #d0d0d1;
$gray_text: #3c3c4399;
$red: #ff1f1f;
$gray_stroke: #c6c6c8;

$red_gradient: linear-gradient(#ff6961, #d70015);
$yellow_gradient: linear-gradient(#ffd426, #b25000);
$blue_gradient: linear-gradient(#409cff, #0040dd);
$green_gradient: linear-gradient(#30db5b, #248a3d);
$violet_gradient: linear-gradient(#7d7aff, #3634a3);

$xs: 320px;
$sm: 375px;
$md: 768px;
$lg: 990px;
$xl: 1440px;
$xxl: 1920px;

@mixin border($color: $white, $size: 2px) {
  border: $size solid $color;
}
@mixin px($value) {
  padding-left: $value;
  padding-right: $value;
}
@mixin py($value) {
  padding-top: $value;
  padding-bottom: $value;
}
@mixin above-bg {
  position: relative;
  z-index: 5;
}
@mixin wh-full {
  width: 100%;
  height: 100%;
}