@import '../helpers';

.devices {
  @include above-bg;
  margin-bottom: 44px;

  &__title {
    margin-bottom: 20px;
  }

  @media (min-width: $md) {
    margin-bottom: 54px;
  }
  @media (min-width: $lg) {
    margin-bottom: 100px;
  }
  @media (min-width: $xxl) {
    margin-bottom: 110px;
  }
}
