@import '../helpers';

.faq {
  @include above-bg;
  margin-bottom: 48px;

  &__arrow {
    height: 24px;
    width: 24px;
  }

  &__answer {
    display: none;
    padding-top: 15px;
    padding-right: 18px;
    line-height: 150%;
    font-size: 14px;
    opacity: 0.8;
    font-weight: 400;

    &--active {
      display: block;
    }
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    max-width: 80%;
    line-height: 140%;
  }

  &__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  &__col,
  &__cols-container,
  &__item {
    border-bottom: 1px solid #ffffff1a;
  }

  &__cols-container {
    padding-bottom: 28px;
  }

  &__col {
    &:last-child {
      border-bottom: none;
    }
  }

  &__cols-container {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding-top: 24px;
    padding-bottom: 20px;

    &:last-child {
      border-bottom: 0;
    }
  }

  @media (min-width: $sm) {
    margin-bottom: 64px;
    &__heading {
      margin-bottom: 15px;
    }
  }

  @media (min-width: $md) {
    &__heading {
      margin-bottom: 22px;
    }
    &__col {
      width: 50%;
      margin-bottom: 0;
      border-bottom: none;

      &:first-child {
        padding-right: 12px;
      }
      &:last-child {
        padding-left: 12px;
      }
    }
    &__cols-container {
      padding-bottom: 20px;
      flex-direction: row;
    }
  }

  @media (min-width: $lg) {
    &__heading {
      margin-bottom: 40px;
    }
    &__title {
      font-weight: 500;
      font-size: 18px;
    }
    &__answer {
      font-size: 16px;
    }
    &__cols-container {
      display: flex;
      justify-content: space-between;
    }
    &__col {
      width: 40%;
    }
  }

  @media (min-width: $xl) {
    &__heading {
      margin-bottom: 45px;
    }
    &__cols-container {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: $xxl) {
    &__heading {
      margin-bottom: 70px;
    }
    &__title {
      font-weight: 500;
      font-size: 24px;
    }
    &__answer {
      font-size: 20px;
    }
    &__item {
      padding-top: 32px;
      padding-bottom: 40px;
    }
    &__arrow {
      height: 32px;
      width: 32px;
    }
  }
}
