@import '../helpers';

.platforms {
  @include above-bg;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

  &__item {
    height: 21px;
    margin-right: 30px;
    margin-bottom: 25px;

    &:last-child {
      margin-right: 0;
    }

    &--scale-down {
      padding-top: 4px;
    }
  }
  &__img {
    @include wh-full;
    object-fit: contain;
  }

  @media (min-width: $sm) {
    margin-bottom: 25px;
    &__item {
      height: 26px;
    }
  }

  @media (min-width: $md) {
    margin-bottom: 50px;
  }

  @media (min-width: $lg) {
    margin-bottom: 85px;
    &__item {
      height: 34px;

      &--scale-down {
        padding-top: 6px;
      }
    }
  }

  @media (min-width: $xl) {
  }

  @media (min-width: $xxl) {
    margin-bottom: 115px;

    &__item {
      height: 45px;

      &--scale-down {
        padding-top: 10px;
      }
    }
  }
}